<div class="header7 js-header7">
  <button class="header7__burger js-header7-burger">
    <svg class="icon icon-burger">
      <use xlink:href="img/sprite.svg#icon-burger"></use>
    </svg>
  </button>
  <a class="header7__logo" href="#"><img class="header7__pic header7__pic_black" src="img/logo.svg" alt="" /><img
      class="header7__pic header7__pic_white" src="img/logo-white.svg" alt="" /></a>
  <div class="header7__search">
    <button class="header7__open">
      <svg class="icon icon-search">
        <use xlink:href="img/sprite.svg#icon-search"></use>
      </svg>
    </button>
    <input class="header7__input" type="text" placeholder="Search…" />
  </div>
  <div class="header7__control">
    <button class="header7__notifications active">
      <svg class="icon icon-bell">
        <use xlink:href="img/sprite.svg#icon-bell"></use>
      </svg>
    </button>
    <a class="header7__user" href="#">
      <div class="ava"><img class="ava__pic" src="img/ava-9.png" alt="" /></div>
      <div class="header7__box">
        <div class="header7__man">Austin Robertson</div>
        <div class="header7__post">Marketing Administrator</div>
      </div>
    </a>
  </div>
  <div class="header7__bg js-header7-bg"></div>
</div>