<div class="sidebar7__top">
  <button class="sidebar7__close js-sidebar7-close">
    <svg class="icon icon-close">
      <use xlink:href="img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <a class="sidebar7__logo" href="#"><img class="sidebar7__pic sidebar7__pic_black" src="img/logo.svg"
      alt="" /><img class="sidebar7__pic sidebar7__pic_white" src="img/logo-white.svg" alt="" /></a>
</div>

<div class="sidebar7__wrapper">
  <div class="sidebar7__box">
    <div class="sidebar7__category">Main</div>
    <div class="sidebar7__menu">
      <a class="sidebar7__item" routerLink="/dashboard/tasks">
        Tasks
      </a>
      
    </div>
  </div>
</div>
<label class="switch switch_theme"><input class="switch__input js-switch-theme" type="checkbox" /><span
    class="switch__in"><span class="switch__box"></span><span class="switch__icon">
      <svg class="icon icon-moon">
        <use xlink:href="img/sprite.svg#icon-moon"></use>
      </svg>
      <svg class="icon icon-sun">
        <use xlink:href="img/sprite.svg#icon-sun"></use>
      </svg></span></span></label>
