<div class="sorting1">
    <div class="sorting1__row">
      <h1 class="sorting1__title title">Products List</h1>
      <div class="sorting1__options">
        <div class="dropdown js-dropdown">
          <a class="dropdown__head js-dropdown-head" href="#">
            <div class="dropdown__text">Sort by:</div>
            <div class="dropdown__category">Default</div>
          </a>

        </div>
        <a class="sorting1__filters" href="#">
          <svg class="icon icon-filters">
            <use xlink:href="img/sprite.svg#icon-filters"></use>
          </svg></a>
        <button class="sorting1__btn btn btn_blue">
          <svg class="icon icon-plus">
            <use xlink:href="img/sprite.svg#icon-plus"></use>
          </svg><span class="btn__text">New Product</span>
        </button>
      </div>
    </div>
  </div>